1. Tuplas

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [ ]:
tuple1[1][0]

Es importante recordar que los índices empiezan desde 0 en Phyton, por ello el 10 representa el primer elemento del segundo elemento de la tupla. Se usa la indexación[] par obtener el elemento. En este caso, el segundo elemento es el 1 y el primer elemento del segundo elemento es el 0.

In [ ]:
tuple1[-1]

Se usa el valor -1 para obtener el último elemento de la tupla1

In [ ]:
tuple1[-1][-1]

El último elemento del último elemento de la tupla

No es posible cambiar el elemento naranja por rosado, ya que las tuplas son contenedores de información que no son modificables, a diferencia de las listas que si pueden ser modificadas.

In [ ]:
len (tuple1)

In [ ]:
tuple2 = ([7, 8], [9, 1], [10, 7])

In [ ]:
resultado = map(sum,tuple2)

In [ ]:
print(tuple(resultado))

En primer lugar, la función map debe incluir la función que se va aplicar y, en este caso es la función suma (sum) de elementos de la tupla. En segundo lugar, se debe colocar el nombre del iterable(tuple2) sobre el cual se va a aplicar la función de sumar elementos. En este caso, el resultado que se obtendra será una tupla con los valores finales de la sumatoria. También podemos convertirlo en una lista pero hemos decidido mantenerlo como tupla.

In [ ]:
tuple2 = ([7, 8], [9, 1], [10, 7])

In [ ]:
tuple3=list(map(lambda el: list(map(lambda el: el/2, el)), tuple2))

In [274]:
print(tuple(tuple3))

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

2. Listas

In [ ]:
import numpy as np

In [275]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [ ]:
nan_indices = [index for index, value in enumerate(f_list) if isinstance(value, float) and np.isnan(value)]

In [ ]:
np.nam=0,1,4,7

In [255]:
print(f"The indices {np.nam} have np.nan values.")

The indices (0, 1, 4, 7) have np.nan values.

In [4]:
p2_list = [ 2 , 3, 4, 5 ]
replicated_list = p2_list * 4
print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [ ]:
Acá se multiplica la lista p2_list por 4 para replicar sus valores y se imprime la salida.

In [10]:
import numpy as np
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]
print(len(f_list))

8

In [ ]:
Jalamos la información de np y la lista. Luego imprimimos

In [234]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [235]:
separador =  ' '

In [236]:
textofinal= separador.join(text1)

In [237]:
print(textofinal)

My teacher assistant is so boring.

In [ ]:
Se utiliza la función join para unir los elementos de la lista text1 en una cadena y se imprime.

In [243]:
texto2= [',','but is very funny']

In [244]:
text1.extend(texto2)

In [245]:
print(text1)

['My', 'teacher', 'assistant', 'is', 'so', 'boring.', ',', 'but is very funny']

In [246]:
separador =  ' '

In [250]:
text1[5] = 'boring'

In [251]:
print(text1)

['My', 'teacher', 'assistant', 'is', 'so', 'boring', ',', 'but is very funny']

In [252]:
textofinal2= separador.join(text1)

In [253]:
print(textofinal2)

My teacher assistant is so boring , but is very funny

In [ ]:
Se extiende la lista text1 con palabras adicionales y se imprime la cadena resultante.

In [254]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [256]:
max(values1)

86

In [257]:
min(values1)

0

In [259]:
maximo=max(values1)

In [263]:
print(maximo)

86

In [264]:
minimo=min(values1)

In [265]:
print(minimo)

0

In [267]:
print(f"The max value of values1 is {maximo} and is located in the 0 index.")

The max value of values1 is 86 and is located in the 0 index.

In [268]:
print(f"The min value of values1 is {minimo} and is located in the 7 index.")

The min value of values1 is 0 and is located in the 7 index.

In [ ]:
Se utilizan las funciones max, min e index para encontrar y mostrar los valores y los índices correspondientes.

In [11]:
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL\", \"IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
nombres = list(map(lambda full_name: full_name.split(',')[1].lstrip(), last_and_name))
print("Nombres:", nombres)

Nombres: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL"', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']

In [ ]:
Se utiliza la función split para dividir cada elemento de last_and_name y se extraen los nombres. Se imprime la lista resultante.

In [303]:
print(map)

CORNEJO SANCHEZ, CHRISTIAN SANTOS ORELLANA QUISPE, CRISTIAN NASSER MORALES CHOQUEHUANCA, ANGELICA KARINA GUIMARAY RIBEYRO, JOSE ROBERTO CAMACHO GAVIDIA, ABEL FERNANDO TINTAYA ORIHUELA, MEIR ALVARO CHAVEZ MARTINEZ, JOSELIN ALEXANDRA FIGUEROA MURO, LEONEL ARTURO GOMEZ CRIBILLERO, JOSE FELIPE PALOMINO SEGUÍN, AFRANIA LUZON CUEVA, BIANCA MARIETTE SUAÑA ZEGARRA, ADRIAN ANDRE SOTO POMACHAGUA, DORKAS YOMIRA JHERMY FIORENTINO MARTINEZ, LADY ALY LAMA MAVILA, HECTOR ANDRE MEZA HINOJO, GUSTAVO LOZADA MURILLO, PERSEO MARCELO ZAMBRANO JIMENEZ, MIGUEL ALONZO JACOBS LUQUE, NICOLAS VIDAL VIDAL, ROCIO GABRIELA TORRES ANICAMA, JANE CAMILA LOPEZ ESTRADA, MARIA ELISA BOYCO ORAMS, ALEJANDRO DIAZ BERROSPI, KARLINE ROSMELI RIEGA ESCALANTE, STEPHY ROSARIO LEVANO TORRES, VALERIA CECILIA ESQUIVES BRAVO, SEBASTIAN RENATO PEREZ GONZALES, JUAN CARLOS OTERO MAGUIÑA, MARIANA CLAVO CAMPOS, ANDREA BRIZETH AGUILAR GARCIA, ERICK JOSUE CALDAS VELASQUEZ, JOSUE DANIEL SALAS NUÑEZ BORJA, FABIO MANUEL PIZARRO VILLANES, FERNANDA NICOLLE QUILLATUPA MORALES, ANGELA ADELINA HUANCAYA IDONE, CESAR DANTE CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO MELÉNDEZ APONTE, JUAN DIEGO CRISTIAN SERRANO, ARONE HINOJOSA CAHUANA, PERCY ALBERTH ANGLAS GARCÍA, KEVIN ARTURO ALDAVE ACOSTA, CESAR ERNESTO NÚÑEZ HUAMÁN, CÉSAR AGUSTO OBREGON HUAMAN, DIANA EDITH SOTO PACHERRES, RODRIGO FRANCO INGARUCA RIVERA, GRETTEL ALEXANDRA ROJAS HUAMAN, ROSA ANGELA NEYRA SALAS, DANTE OMAR HUERTA ESPINOZA, YAJAIRA ALEXANDRA HUANCA MARTINEZ, JORGE ALBERTO FLORES CADILLO, ALEXIS

In [304]:
map.split(",")

['CORNEJO SANCHEZ',
 ' CHRISTIAN SANTOS ORELLANA QUISPE',
 ' CRISTIAN NASSER MORALES CHOQUEHUANCA',
 ' ANGELICA KARINA GUIMARAY RIBEYRO',
 ' JOSE ROBERTO CAMACHO GAVIDIA',
 ' ABEL FERNANDO TINTAYA ORIHUELA',
 ' MEIR ALVARO CHAVEZ MARTINEZ',
 ' JOSELIN ALEXANDRA FIGUEROA MURO',
 ' LEONEL ARTURO GOMEZ CRIBILLERO',
 ' JOSE FELIPE PALOMINO SEGUÍN',
 ' AFRANIA LUZON CUEVA',
 ' BIANCA MARIETTE SUAÑA ZEGARRA',
 ' ADRIAN ANDRE SOTO POMACHAGUA',
 ' DORKAS YOMIRA JHERMY FIORENTINO MARTINEZ',
 ' LADY ALY LAMA MAVILA',
 ' HECTOR ANDRE MEZA HINOJO',
 ' GUSTAVO LOZADA MURILLO',
 ' PERSEO MARCELO ZAMBRANO JIMENEZ',
 ' MIGUEL ALONZO JACOBS LUQUE',
 ' NICOLAS VIDAL VIDAL',
 ' ROCIO GABRIELA TORRES ANICAMA',
 ' JANE CAMILA LOPEZ ESTRADA',
 ' MARIA ELISA BOYCO ORAMS',
 ' ALEJANDRO DIAZ BERROSPI',
 ' KARLINE ROSMELI RIEGA ESCALANTE',
 ' STEPHY ROSARIO LEVANO TORRES',
 ' VALERIA CECILIA ESQUIVES BRAVO',
 ' SEBASTIAN RENATO PEREZ GONZALES',
 ' JUAN CARLOS OTERO MAGUIÑA',
 ' MARIANA CLAVO CAMPOS',
 ' ANDREA BRIZETH AGUILAR GARCIA',
 ' ERICK JOSUE CALDAS VELASQUEZ',
 ' JOSUE DANIEL SALAS NUÑEZ BORJA',
 ' FABIO MANUEL PIZARRO VILLANES',
 ' FERNANDA NICOLLE QUILLATUPA MORALES',
 ' ANGELA ADELINA HUANCAYA IDONE',
 ' CESAR DANTE CALVO PORTOCARRERO',
 ' GABRIELA ISABEL"',
 ' "IBAÑEZ ABANTO',
 ' ANGEL MAURICIO MELÉNDEZ APONTE',
 ' JUAN DIEGO CRISTIAN SERRANO',
 ' ARONE HINOJOSA CAHUANA',
 ' PERCY ALBERTH ANGLAS GARCÍA',
 ' KEVIN ARTURO ALDAVE ACOSTA',
 ' CESAR ERNESTO NÚÑEZ HUAMÁN',
 ' CÉSAR AGUSTO OBREGON HUAMAN',
 ' DIANA EDITH SOTO PACHERRES',
 ' RODRIGO FRANCO INGARUCA RIVERA',
 ' GRETTEL ALEXANDRA ROJAS HUAMAN',
 ' ROSA ANGELA NEYRA SALAS',
 ' DANTE OMAR HUERTA ESPINOZA',
 ' YAJAIRA ALEXANDRA HUANCA MARTINEZ',
 ' JORGE ALBERTO FLORES CADILLO',
 ' ALEXIS']

In [12]:
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]
last_names = list(map(lambda full_name: full_name.split(',')[0], last_and_name))
combined_data = zip(last_names, emails)
last_names_no_email = [last_name for last_name, email in combined_data if email == '']
print("Apellidos de estudiantes sin correo electrónico:", last_names_no_email)

Apellidos de estudiantes sin correo electrónico: ['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

In [ ]:
Se utiliza zip para combinar last_names y emails, y luego se filtran los apellidos de aquellos estudiantes que no tienen